@layout('main')


@section('content')
	<div class="jumbotron bg-info text-white jumbotron-fluid text-center">
		<h1 class="display-1">CryptoTracker</h1>
		<p class="lead">Let's keep track of your shitcoins!</p>
	</div>
@endsection