@layout('main')


@section('content')
	<div class="container">
		<h2>List of all user</h2>
		<ul>
		@each(user in users)
			<li>{{ user.username }} - {{ user.email }}</li>
		@endeach
		</ul>
	</div>
	
@endsection