@layout('main')


@section('content')
	<div class="container">
		<h2>Hard coded users</h2>
		<ul>
		@each(user in users)
			<li>{{ user.username }} - {{ user.email }} - {{ user.password }}</li>
		@endeach
		</ul>

		<a href="/users/create">Register</a>
	</div>
	
@endsection